<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}


{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		        <link rel="stylesheet" type="text/css" href="css/enquestes.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="js/Chart.min.js"></script>
            <script src="js/scripts.js"></script>
            <script src="js/quesito.js"></script>
			<script src="js/enquesta.js"></script>

        {% endblock %}
    </body>
</html>
