{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editor d'enquesta</h1>
<th>Pregunta:   </th>
                <td>{{ enquestum.pregunta }}</td>
    {{ form_start(edit_form) }}
       {{ form_widget(edit_form) }}
        <input type="submit" value="Edita" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Tornar enrere</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){
console.log("hola");
$("input:first").hide();
$("label:first").hide();
})
</script>
{% endblock %}
