{% extends 'base.html.twig' %}

{% block body %}
    <h1>Llista de enquestes</h1>

    <table>
        <thead>
            <tr>
                <th>Pregunta</th>
                <th>Datainici</th>
                <th>Datafinal</th>
                <th>Destacada</th>
                <th>Id</th>
                <th>Opcions</th>
            </tr>
        </thead>
        <tbody>
        {% for enquestum in enquestas %}
            <tr>
                <td><a href="{{ path('admin_show', { 'id': enquestum.id }) }}">{{ enquestum.pregunta }}</a></td>
                <td>{% if enquestum.dataInici %}{{ enquestum.dataInici|date('d-m-Y') }}{% endif %}</td>
                <td>{% if enquestum.dataFinal %}{{ enquestum.dataFinal|date('d-m-Y') }}{% endif %}</td>
                <td>{% if enquestum.destacada %}Si{% else %}NO{% endif %}</td>
                <td>{{ enquestum.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_edit', { 'id': enquestum.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_new') }}">Crear més enquestes</a>
        </li>
    </ul>
{% endblock %}
