{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crea la nova enquesta</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crea" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Tornar a la llista</a>
        </li>
    </ul>
{% endblock %}
