<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="css/enquestes.css">
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="js/Chart.min.js"></script>
            <script src="js/scripts.js"></script>
            <script src="js/quesito.js"></script>

        {% endblock %}
    </body>
</html>
