{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('js/oculta.js') }}"></script>

{% endblock %}
{% block body %}
    <h1>Editor d'enquesta</h1>
<th>Pregunta:   </th>
                <td>{{ enquestum.pregunta }}</td>
    {{ form_start(edit_form) }}
       {{ form_widget(edit_form) }}
        <input type="submit" value="Edita" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Tornar enrere</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
