{% extends 'base.html.twig' %}

{% block body %}
    <h1>Visualització d'enquestes</h1>

    <table>
        <tbody>
            <tr>
                <th>Pregunta</th>
                <td>{{ enquestum.pregunta }}</td>
            </tr>
            <tr>
                <th>Datainici</th>
                <td>{% if enquestum.dataInici %}{{ enquestum.dataInici|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datafinal</th>
                <td>{% if enquestum.dataFinal %}{{ enquestum.dataFinal|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Destacada</th>
                <td>{% if enquestum.destacada %}Si{% else %}No{% endif %}</td>
            </tr>
            <td>
            <tr>
              {% set si, no = 0, 0 %}
                {% for resposta in respostes %}
                  {% if resposta.idEnquesta == enquestum.id %}
                    {% if resposta.valor == 1 %}
                      {% set si = si+1 %}
                    {% else %}
                      {% set no = no+1 %}
                    {% endif %}
                 {% endif %}
               {% endfor %}
               <tr>
                   <th>Vots amb "SI": </th>
                   <td>{{ si }}</td>
               </tr>
               <tr>
                   <th>Vots amb "NO": </th>
                   <td>{{ no }}</td>
               </tr>
               <tr>
                   <th>Vots totals: </th>
                   <td>{{ si+no }}</td>
               </tr>
            <tr>
                <th>Id</th>
                <td>{{ enquestum.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Tornar enrere</a>
        </li>
        <li>
            <a href="{{ path('admin_edit', { 'id': enquestum.id }) }}">Editar la enquesta</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Elimnar permanentment">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
