.container{
	padding: 25px;
	background-color:#ececec;
}


.enquesta{
		background-color: white;
        display: flex;
        flex-direction: row;
		justify-content: space-between;
		margin-top: 2%;
		margin-left: 2%;
		margin-right: 2%;
		padding: 15px;
		border: 1px solid rgb(201, 201, 201);
		border-radius: 20px;
		box-shadow:  0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

	}
.icons{
    display: flex;
	flex-direction: row;
}
.enquesta:hover{
	background-color: #e6e6e6;
}
.destacada, .activa, .aviso, .respondida{
	width:20px;
}
.quesito{
	width:40%;
}

.contform{
	margin-top: 28px;
	margin-bottom: 28px;
	width: 250px;
	align-content: center;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	box-shadow:  0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.container{
	
}

.info {
	margin-top:25px;
	margin-left: 130px;
	width: 200px;

}
.titol{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 200px;

		color: #fff;
		font-size: 12em;
		font-weight: bold;
		font-family: Helvetica;
		text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);


}

.resposta{
	box-shadow
}