{% extends 'base.html.twig' %} {% block body %}
<h1>Llista de enquestes</h1>

<table style=width:100%;>
  <thead>
    <tr>
      <th>Pregunta</th>
      <th>Datainici</th>
      <th>Datafinal</th>
      <th>Destacada</th>
      <th>Id</th>
      <th>SI</th>
      <th>NO</th>
      <th>TOTALS</th>
      <th>Opcions</th>
    </tr>
  </thead>
  <tbody>
    {% for enquestum in enquestas %}
    <tr>
      <td><a href="{{ path('admin_show', { 'id': enquestum.id }) }}">{{ enquestum.pregunta }}</a></td>
      <td>{% if enquestum.dataInici %}{{ enquestum.dataInici|date('d-m-Y')}}{% endif %}</td>
      <td>{% if enquestum.dataFinal %}{{ enquestum.dataFinal|date('d-m-Y')}}{% endif %}</td>
      <td>{% if enquestum.destacada %}Si{% else %}NO{% endif %}</td>
      <td>{{ enquestum.id }}</td>
      <td>
        {% set si, no = 0, 0 %}
          {% for resposta in respostes %}
            {% if resposta.idEnquesta == enquestum.id %}
              {% if resposta.valor == 1 %}
                {% set si = si+1 %}
              {% else %}
                {% set no = no+1 %}
              {% endif %}
           {% endif %}
         {% endfor %}
      {{ si }}
      </td>
      <td>
        {{ no }}
      </td>
      <td>
        {{ si+no }}
      </td>
      <td>
        <a href="{{ path('admin_edit', { 'id': enquestum.id }) }}">Editor</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<ul>
  <li>
    <a href="{{ path('admin_new') }}">Creació d'enquestas</a>
  </li>
</ul>

<button class="btn" id="logout-admin">Tanca la sessio</button>
{% endblock %}
