{% extends 'base.html.twig' %}
{% block body %}
{% block content %}
eres usuario normal
	<div class="contform" id="#container">
		<p>Entra!:</p>
		<form action="">
			<input type="text" name="usuari" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<input type="submit" name="enviar">
		</form>
	</div>
    <div id="resposta">here comes the result</div>
{% endblock %}
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }


    .contform{
    	width:240px;
    	background: #FFF;
    	padding: 25px;
    }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
