{% extends 'base.html.twig' %}
{% block body %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="titol column col-md-8">VOTA!</div>
            <div class="column col-md-3 contform" id="container">
                <form action="">
                    <p>Entra!:</p>
                    <input type="text" name="usuari" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input class="btn btn-primary" type="submit" name="enviar">
                </form>
            </div>

        </div>
        <div class="col-md contenidor-resposta" id="resposta"><h3>Enquestes destacades:</h3></div>
    </div>

{% endblock %}
        {% block javascripts %}

            <script src="{{ asset('js/Chart.min.js') }}"></script>
            <script src="{{ asset('js/scripts.js') }}"></script>
            <script src="{{ asset('js/quesito.js') }}"></script>

        {% endblock %}
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }


    .contform{
    	width:240px;
    	background: #FFF;
    	padding: 25px;
    }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
